{% extends 'base_global.html' %}

{% block HeadContent %}
<style>
    .signup-form {
        width: 340px;
        margin: 100px auto;
        font-size: 15px;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control, .btn {
        min-height: 38px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
    .btn-block {
        display: block;
        width: 100%;
    }
</style>
{% endblock HeadContent %}

{% block BodyContent %}
<div class="signup-form">
  <form action="" method="POST"> {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Welcome ToDo App</h1>
    <p class="text-center">Please fill in this form to create an account!</p>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Username" name="{{ form.username.html_name }}" maxlength="150"
      autocapitalize="none" autocomplete="{{ form.username.html_name }}"
      autofocus="" required="" id="{{ form.username.id_for_label }}">
    </div>

    <div class="form-group">
      <input class="form-control" type="password" placeholder="password" name="{{ form.password1.html_name }}"
      autocomplete="new-password" required="" id="{{ form.password1.id_for_label }}">
    </div>

    <div class="form-group">
      <input class="form-control" type="password" placeholder="Password confirmation" name="{{ form.password2.html_name }}"
      autocomplete="new-password" required="" id="{{ form.password2.id_for_label }}">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block">Signup</button>
    </div>

    {% if form.errors %}
        {% for key,value in form.errors.items %}
            {{ value }}
        {% endfor %}
    {% endif %}

    <p class="text-center">Already have an account?  <a href="{% url 'login' %}">login</a></p>
  </form>
  <p class="text-center mt-5 mb-3 text-muted">© 2021 haku-mai</p>
</div>
{% endblock BodyContent %}
